data_gathering_activities.pdf
README.md
eRestaurant/images/full_screen_cutomer_menu.png
eRestaurant/images/full_screen_eRestaurant.png
eRestaurant/images/full_screen_message_system.png
eRestaurant/images/full_screen_mobile.png
eRestaurant/images/full_screen_modal_delete.png
eRestaurant/images/full_screen_modal_form.png
eRestaurant/images/full_screen_search.png
eRestaurant/images/mobile_screen_cusotmer_menu.png
week02 task/full-size-screen.png
week02 task/Middle-size-screen-List-view.png
week02 task/Middle-size-screen.png
week02 task/mobile-screen-menu-open.png
week02 task/mobile-screen.png
MyIndex.html
.vscode/settings.json
eRestaurant/index copy.html
eRestaurant/menu copy.html
eRestaurant/images/Gerson_wdd231_eRestaurant_ProjectPlan.html.png
.gitignore
styles/layout.css
week02 task/backup do codigo.txt
week02 task/W02 Assignment - audit report.docx
